[submodule "tm-v1-fs-python-sdk"]
	path = tm-v1-fs-python-sdk
	url = https://github.com/trendmicro/tm-v1-fs-python-sdk.git
[submodule "tm-v1-fs-storage-aws"]
	path = tm-v1-fs-storage-aws
	url = https://github.com/trendmicro/tm-v1-fs-storage-aws.git
